extends ./layout.jade

block head
  link(rel="stylesheet", href="/public/dist/game.min.css")
  
block body
  br
  
  #game-container
    canvas#game-canvas
    #game-lobby-container
      #players-container
      #rooms-container
      input#room-name-input
      button#create-room-button Create Room
  
block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/public/bower/jquery/dist/jquery.min.js")
  if dev_mode
    script(src="/shared/base.js")
    script(src="/shared/Constants.js")
    script(src="/shared/Util.js")
    
    script(src="/public/js/game/Drawing.js")
    script(src="/public/js/game/Game.js")
    script(src="/public/js/game/Input.js")
    script(src="/public/js/game/Lobby.js")
    script(src="/public/js/game/ViewPort.js")
    script(src="/public/js/game.js")
  else
    script(src="/public/dist/game.min.js")
