extends ./layout.jade

block head
  link(rel="stylesheet", href="/public/dist/index.min.css")
        
block body
  #container
  
block scripts
  script(src="/public/bower/jquery/dist/jquery.min.js")
  if dev_mode
    script(src="/public/js/index.js")
    // Link the rest of the scripts
  else
    script(src="/public/dist/index.min.js")
