extends ./layout.jade

block head
  link(rel="stylesheet", href="/public/dist/index.min.css")
        
block body
  #container
    canvas#canvas
  
block scripts
  script(src="/public/bower/jquery/dist/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  if DEV_MODE
    script(src="/shared/Constants.js")
    script(src="/shared/Util.js")
    script(src="/public/js/game/Drawing.js")
    script(src="/public/js/game/Game.js")
    script(src="/public/js/game/Input.js")
    script(src="/public/js/game/Viewport.js")
    script(src="/public/js/client.js")
  else
    script(src="/public/dist/index.min.js")
